.conatainerre {
  animation: slideIn 3.5s ease;
  font-family: RobotoMono;
  width: 100%;
}

@keyframes slideIn {
  0% {
    transform: translateY(3%);
    opacity: 50;
  }
  100% {
    transform: translateY(5);
    opacity: 50;
  }
}
