<div class="conatainerre">
    
    <div class="hello" [style.background-color]="color" style="display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none; text-align: center;width: 65%; height: 50px;  backdrop-filter: blur(20px);">
        <a>Hello, I'm a fullstack software engineer</a>
    </div>

    <div class="container" style="width: 70%;margin: 15px; display: flex; justify-content: flex-start; align-items: center;">
        <div class="name" style="flex: 1; display: flex; flex-direction: column;">
            <h4 style="font-weight: 500; font-size: 1.875rem;">Dennis Kariuki</h4>
            <a style="font-weight: 300; font-size: 1.375rem;">Digital Craftsman</a>
        </div>
        <div class="profile-pic" style="border: 2px solid black; border-color: #E2E8F0; border-radius: 50%; width: 100px; height: 100px; background-image: url('assets/ao.png'); background-size: cover; background-position: center;"></div>
    </div>
    

    <div class="work" style="width: 70%; ">
        <p style="font-weight: 500;">   
            As a Software Engineer, I create robust, scalable, and secure software solutions that drive real-world impact. My focus on user-centered design allows me to build applications that are both intuitive and purpose-driven, solving concrete problems and enhancing user experiences. I am committed to crafting software that empowers users, streamlines their journeys, and meets the demands of today’s dynamic digital landscape.
        </p>

        <div class="">
            <p><strong><u style="text-decoration-thickness: 3px;">Techonologies</u></strong></p>
            <p>Some of the techonologies I use:</p>
            <div class="techonologies" style="display: flex; flex-direction: column;">
                <a>Languages: <strong>Java, PHP, GO and Typescript</strong></a>
                <a>Frameworks: <strong>Laravel, SpringBoot, Flutter and Angular</strong></a>
                <a>Infrastructure: <strong>GCP, Docker, PostgreSQL, Redis, RabbitMQ</strong></a>
                <a>Observability: <strong>Grafana, InfluxDB</strong></a>
                <a>Databases: <strong>MySQL, Firebase, Mongodb and Postgresql</strong></a>
                <a>CI/CD: <strong>Gitlab CI/CD, GitHub Workflows</strong></a>
                
            </div>

        </div>

    </div>

    <div class="myPortfolio"  style="padding-top: 2.5%;  width: 70%; display: flex; justify-content: center; align-items: center; ">
        <button  (click)="onselect()" style="font-weight: 500;background-color: #64d5ca; border-radius: 10px;color: white; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: 2px solid black; border-color: #E2E8F0; text-align: center;width: 50%; height: 50px;">Projects</button>
        
    </div>

    <div class="bio"  style="padding-top: 2.5%; width: 70%; ">
        <p><strong><u style="text-decoration-thickness: 3px;">Bio</u></strong></p>
        <p>Pursued Bachelor of Science in Computer Science at the University of Nairobi</p>
    </div>

  

    <div class="links"  style="padding-top: 2.5%; width: 70%; display: flex; flex-direction: column; justify-content: center; ">
        <p><strong><u style="text-decoration-thickness: 3px; ">Links</u></strong></p>
        <a href="https://github.com/dennis-hash"  style="color: #64d5ca; text-decoration: none; ">
            <fa-icon [icon]="faGithub"></fa-icon> Github
          </a>

           <a href="https://www.linkedin.com/in/dennis-kariuki-a3963b212"  style="color: #64d5ca; text-decoration: none; ">
            <fa-icon [icon]="faLinkedin"></fa-icon> LinkedIn
          </a>

          <a href="https://twitter.com/dennis_kariuki"  style="color: #64d5ca; text-decoration: none; ">
            <fa-icon [icon]="faTwitter"></fa-icon> Twitter(X)
          </a>

         
       
      
    </div>
</div>