<div class="conatainerre">
    
    <div class="hello" [style.background-color]="color" style="display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none; text-align: center;width: 65%; height: 50px;  backdrop-filter: blur(20px);">
        <a>Hello, I'm a fullstack software engineer</a>
    </div>

    <div class="container" style="width: 50%;margin: 15px; display: flex; justify-content: flex-start; align-items: center;">
        <div class="name" style="flex: 1; display: flex; flex-direction: column;">
            <h4 style="font-weight: 500; font-size: 1.875rem;">Dennis Kariuki</h4>
            <a style="font-weight: 300; font-size: 1.375rem;">Digital Craftsman</a>
        </div>
        <div class="profile-pic" style="border: 2px solid black; border-color: #E2E8F0; border-radius: 50%; width: 100px; height: 100px; background-image: url('assets/ao.png'); background-size: cover; background-position: center;"></div>
    </div>
    

    <div class="work" style="width: 65%; ">
        <p style="font-weight: 500;">   
         As a Software Engineer, I craft efficient and secure software solutions, tailoring them for scalability and real-world impact. Driven by a passion for user-centric design, I build applications that are not only intuitive but also address tangible problems, empowering users while streamlining their experiences.
        </p>

        <div class="">
            <p><strong><u style="text-decoration-thickness: 3px;">Techonologies</u></strong></p>
            <p>Some of the techonologies I use:</p>
            <div class="techonologies" style="display: flex; flex-direction: column;">
                <a>Languages: <strong>Java, PHP, GO, Dart and Typescript</strong></a>
                <a>Frameworks: <strong>Laravel, SpringBoot, Flutter and Angular</strong></a>
                <a>Developer Tools: <strong>Git, Docker, Linux, Postman, Selenium, JMeter</strong></a>
                <a>Databases: <strong>MySQL, Firebase, Mongodb and Postgresql</strong></a>
                <a>Cloud Platforms: <strong> Huawei Cloud, Google Cloud Platform</strong></a>
                
            </div>

        </div>

    </div>

    <div class="myPortfolio"  style="padding-top: 2.5%;  width: 65%; display: flex; justify-content: center; align-items: center; ">
        <button  (click)="onselect()" style="font-weight: 500;background-color: #64d5ca; border-radius: 10px;color: white; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: 2px solid black; border-color: #E2E8F0; text-align: center;width: 50%; height: 50px;">Projects</button>
        
    </div>

    <div class="bio"  style="padding-top: 2.5%; width: 65%; ">
        <p><strong><u style="text-decoration-thickness: 3px;">Bio</u></strong></p>
        <p>Pursued Bachelor of Science in Computer Science at the University of Nairobi</p>
    </div>

  

    <div class="links"  style="padding-top: 2.5%; width: 65%; display: flex; flex-direction: column; justify-content: center; ">
        <p><strong><u style="text-decoration-thickness: 3px; ">Links</u></strong></p>
        <a href="https://github.com/dennis-hash"  style="color: #64d5ca; text-decoration: none; ">
            <fa-icon [icon]="faGithub"></fa-icon> Github
          </a>

           <a href="https://twitter.com/dennis_kariuki"  style="color: #64d5ca; text-decoration: none; ">
            <fa-icon [icon]="faLinkedin"></fa-icon> LinkedIn
          </a>

          <a href="https://twitter.com/dennis_kariuki"  style="color: #64d5ca; text-decoration: none; ">
            <fa-icon [icon]="faTwitter"></fa-icon> Twitter(X)
          </a>

         
       
      
    </div>
</div>