

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
}

.hello{
  display: flex;
  flex: 1;
  margin-top: 60px auto;
  padding-top: 3rem;

}

.animation {
  flex: 0 0 33.33%; 
  position: fixed;
  top: 50;
  padding-right: 2rem;
  border: 2px solid black;

}

.content {
  flex: 1;
  text-align: start;
  padding-top: 30px;
  padding-left: 50px;
  width: auto;
  margin-left: 20px;
  border: 2px solid black;
  
}
