<div class="container" style="display: flex; flex-direction: column; min-height: 100vh;" [style.background-color]="backgroundColor" style="  z-index: 1;">
  <app-header (themeToggled)="onThemeToggled($event)"></app-header>
  <div class="d-flex flex-grow-1 justify-content-center align-items-center flex-column-reverse flex-md-row" [style.background-color]="backgroundColor" [style.color]="textColor" style="margin: 20px auto; padding-top: 3rem; max-width: 90%; z-index: 1;">
  
    <div class="position-fixed top-50 start-0 translate-middle-y d-none d-md-block" style="flex: 1; z-index: 0;">
    <app-animation></app-animation>
  </div>
  <div class="flex-grow-7 text-center text-md-start" style="margin-left: calc(100% / 3); padding-left: 100px; z-index: 2;">
    <router-outlet></router-outlet>
  </div>
</div>

  <app-footer></app-footer>
</div>



